<section class="main-page">
    <section class="sign-up">
      <h2 class="section-heading">Sign Up</h2>
      <form [formGroup]="registerForm" >
        <label for="user-name">Username</label>
        <input id="user-name" type="text" formControlName="username" placeholder="username or email" required>

        <label for="fname">First Name</label>
        <input id="fname" type="text" formControlName="fname" placeholder="John" required>

        <label for="lname">Last Name</label>
        <input id="lname" type="text" formControlName="lname" placeholder="Doe" required>

        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email" placeholder="johndoe@email.com" required>

        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" placeholder="" required>
        
        <button type="submit">Sign Up</button>
      </form>
      <p>
        Already a Member?
        <a [routerLink]="['/login']"
        >Sign In</a>
      </p>
    </section>
    
</section>
  


