<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Kalon</span>
      <span class="example-spacer"></span>
      <div class="nav-links">
        <a routerLink="/addBook">
          <p>Add Book</p>
        </a>
        <a routerLink="/assignBook">
          <p>Assign Book</p>
        </a>
        <a routerLink="/returnBook">
          <p>Return Book</p>
        </a>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </div>
      
    </mat-toolbar>
  </p>
