<div class="toolbar" role="banner">
  <a routerLink='/'>
    <img
      width="70"
      alt="Nomad logo"
      src="assets/logo/k-white.png"/>
  </a>
    <a routerLink='/'>
      <span>Kalon</span>
    </a>
    
    <div class="spacer"></div>
    <div class= "menu">
      <a routerLink="/addBook">
        <p>Add Book</p>
      </a>
      <a routerLink="/assignBook">
        <p>Assign Book</p>
      </a>
      <a routerLink="/returnBook">
        <p>Return Book</p>
      </a>
      <button routerLink="/signin">Sign In</button>
      
</div>