/* sidebar.component.css */
.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    background-color: whitesmoke;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding-left: 20px;
    margin-left: 20px;
  }
  
  .sidebar li {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #7393B3;
    font-size: 18px;
  }
  