<section class="main-page">
          <section class="sign-up">
            <h2 class="section-heading">Sign In</h2>
            <form [formGroup]="loginForm" >
              <label for="user-name">Username or Email</label>
              <input id="user-name" type="text" formControlName="username" placeholder="username or email" required>
    
              <label for="password">Password</label>
              <input id="password" type="password" formControlName="password" placeholder="Password" required>
              <a [routerLink]="['/forgot-password']">Forgot Password?</a>
              <button type="submit">Sign In</button>
            </form>
            <p>
              Not a Member?
              <a [routerLink]="['/register']"
              >Sign Up</a>
            </p>
          </section>
          
</section>
        


